{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class = "container">
<div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
    <a href="{% url 'whatkindinfo' %}">
        <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
    </a>
    <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
    <a href="{% url 'home' %}">
        <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
    </a>
    <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
</div>

<div class="box" style="padding: 20px;font-family: 'Nunito', sans-serif;font-size: 1rem;color: #F3EAE5;text-align: center;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(150px, 25vw, 250px); position: absolute;">
    <nav>
        <ul class="nav-bar">
            <h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(2rem, 2vw, 1.5rem); margin: 0; margin-bottom: 40px;"> {% trans 'Booking an appointment' %}</h1>
            
            <button id="appointmentbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw; margin-top: 1vw;">
                <span id="arrow1" style="position: absolute; right: 20px;">&gt;</span> 
                
                {% trans 'How to book an appointment' %}
            </button>
            
            <div id= "appointmenttext" style= "display: none; color: #710E09; width: 90%; box-sizing: border-box; text-align: left; ">
                <p style="margin-bottom: 15px;"> {% trans 'When booking an appointment with a doctor over the phone, we recommend you use the phone number provided on our doctor information page. Once you dial, you can make an appointment by speaking with the receptionist of the office.' %}</p>
                <p>  {% trans 'If you choose to email the office, provide your name, your phone number, the doctor you are trying to get an appointment with and the dates you would like to come into the office.' %} </p>
                <a href="mailto:doctor@example.com?subject=Booking an appointment&body=Hello, I would like to book an appointment with Doctor______.My name is ____________ .%0A%0A(Optional) This would be my first appointment with the doctor.%0A%0A(Optional) The reason I would like an appointment is_________. %0A%0A%0A%0AThank you for letting me know the nearest availabilities.%0A%0A(Your name)%0A%0A(Your name)%0A%0A(Your phone number)">
                    <img id="email" src="{% static 'email.jpg'%}"class ="email" alt="email" style = "text-decoration: none;">
                </a>
            </div>
            
            <button id="callbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw;margin-top: 1vw;">
                <span id="arrow2" style="position: absolute; right: 20px;">&gt;</span> <!-- Arrow on the left -->
                {% trans 'Calling a doctor's office' %}
            </button>

            <div id= "calltext" style= "display: none; color: #710E09;width: 85%; box-sizing: border-box; text-align: left; ">
                <p style="margin-bottom:15px;"> {% trans 'Start by asking the receptionist if they speak the language you are most comfortable with. The doctor speaks your language, but the receptionist might not.' %}</p>
                <div class="box" style="padding: 20px; font-family:'Nunito', sans-serif; font-size:1rem; color: #710E09;background-color: #F3EAE5; border-radius:15px; text-align:left; font-style: italic;"> 
                    <p style="margin-bottom:15px;">Hi, do you speak _______? (your preferred language)</p>
                    <p style="margin-bottom:15px;">{% trans 'Or' %}</p>
                    <p style="margin-bottom:15px;">Bonjour, parlez-vous le______? (your preferred language)</p>
                </div>      
                <p style="margin-bottom:15px;">{% trans "If they don’t speak your language, here is what you should say:" %}" </p>
                <div class="box" style="padding: 20px; font-family:'Nunito', sans-serif; font-size:1rem; color: #710E09;background-color: #F3EAE5; border-radius:15px; text-align:left; font-style: italic;"> 
                    <p style="margin-bottom:15px;">English is not my first language, so I would appreciate it if you spoke slowly and clearly please.</p>
                    <p style="margin-bottom:15px;">{% trans "Or" %}</p>
                    <p style="margin-bottom:15px;">Le français n’est pas ma langue maternelle, donc j’apprécierais que vous parliez lentement et clairement s’il vous plaît.</p>
                </div>   
                <p style="margin-bottom:15px;">{% trans "Introduce yourself and state which doctor you would like an appointment with." %}</p>
                <div class="box" style="padding: 20px; font-family:'Nunito', sans-serif; font-size:1rem; color: #710E09;background-color: #F3EAE5; border-radius:15px; text-align:left; font-style: italic;"> 
                    <p style="margin-bottom:15px;">My name is _____(Your full name) and I would like to book an appointment with Doctor______. (The doctor you wish to book an appointment with)</p>
                    <p style="margin-bottom:15px;">{% trans "Or" %}</p>
                    <p style="margin-bottom:15px;">Je m’appelle ____ (Your full name) et j’aimerai prendre rendez-vous avec le Docteur_____. (The doctor you wish you wish to book an appointment with)</p>
                </div>
                <p style="margin-bottom:15px;">{% trans "The receptionist will guide you through the rest of the process. If they ask you questions relating to the reasons you wish for an appointment that you do not wish to answer, here is what you should say:" %}</p>
                <div class="box" style="padding: 20px; font-family:'Nunito', sans-serif; font-size:1rem; color: #710E09;background-color: #F3EAE5; border-radius:15px; text-align:left; font-style: italic;"> 
                    <p style="margin-bottom:15px;">I would prefer to discuss that with a doctor."</p>
                    <p style="margin-bottom:15px;">{% trans "Or" %}</p>
                    <p style="margin-bottom:15px;">Je préfère en parler avec le docteur.</p>
                </div>
            </div>
            
            <button id="refbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw;margin-top: 1vw;">
                <span id="arrow3" style="position: absolute; right: 20px;">&gt;</span> <!-- Arrow on the left -->
                Referrals
            </button>

            <div id= "reftext" style= "display: none; color: #710E09; width: 90%; box-sizing: border-box; text-align: left; ">
                <p style="margin-bottom:15px;"> {% trans "When you make an appointment with a family doctor, they will provide you with referrals to a specialist. Referrals are small pieces of paper that provide the specialist’s phone number, the reason you need to go to that specialist and the doctor’s signature." %}</p>
                <p style="margin-bottom:15px;">{% trans "Coming soon: list of specialists that require referral and list of specialists that don’t require referrals" %}
                </p>
            </div>
            
            
   
        </ul>
   </nav>
 </div>
<script> 
//asylum logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('appointmentbutton').addEventListener('click', function() {
        var appointmenttext = document.getElementById('appointmenttext');
        var arrow1 = document.getElementById('arrow1'); // Get the arrow span
        
        if (appointmenttext.style.display === "none" || appointmenttext.style.display === "") {
            appointmenttext.style.display = "block"; // Show the text
            arrow1.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            appointmenttext.style.display = "none"; // Hide the text
            arrow1.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var appointmentbutton = document.getElementById('appointmentbutton');
        var appointmenttext = document.getElementById('appointmenttext');
        if (!appointmentbutton.contains(event.target) && !appointmenttext.contains(event.target)) {
            appointmenttext.style.display = "none";
            document.getElementById('arrow1').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
//private versus public logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('callbutton').addEventListener('click', function() {
        var calltext = document.getElementById('calltext');
        var arrow2 = document.getElementById('arrow2'); // Get the arrow span
        
        if (calltext.style.display === "none" || calltext.style.display === "") {
            calltext.style.display = "block"; // Show the text
            arrow2.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            calltext.style.display = "none"; // Hide the text
            arrow2.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var callbutton = document.getElementById('callbutton');
        var calltext = document.getElementById('calltext');
        if (!callbutton.contains(event.target) && !calltext.contains(event.target)) {
            calltext.style.display = "none";
            document.getElementById('arrow2').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
//referrals logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('refbutton').addEventListener('click', function() {
        var reftext = document.getElementById('reftext');
        var arrow3 = document.getElementById('arrow3'); // Get the arrow span
        
        if (reftext.style.display === "none" || reftext.style.display === "") {
            reftext.style.display = "block"; // Show the text
            arrow3.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            reftext.style.display = "none"; // Hide the text
            arrow3.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var refbutton = document.getElementById('refbutton');
        var reftext = document.getElementById('reftext');
        if (!refbutton.contains(event.target) && !reftext.contains(event.target)) {
            reftext.style.display = "none";
            document.getElementById('arrow3').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
</script>

{% if user.is_patient %}
{% endif %}

{% endblock %}

