{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
<div class = "container">
    <div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
        <a href="{% url 'whatkindinfo' %}">
            <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
        </a>
        <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
        <a href="{% url 'home' %}">
            <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
        </a>
        <a href="{% url 'login' %}">
            <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
        </a>
    
    </div>
</div>
<div class="box" style="padding: 20px;font-family: 'Nunito', sans-serif;color: #710E09;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(200px, 32vw, 325px); display: flex; flex-direction: column;">
    <img id="docprof1" src="{% static 'docproflight.jpg'%}" class="docprof1" alt="docprof1">
    <div style="flex-grow: 1;">
        <h1 style="font-family: Nunito, sans-serif; font-size: clamp(0.5rem, 20vw, 2rem) ; color: #710e09; ">{{doctor.name}}</h1>
        <p1>{{doctor.docprofile.specialty}}</p1>
        <br>
        {% for language in doctor.languages.all %}
        <p>{{language.lang}}</p>
        <br>
        {% endfor %}
        {% if me.is_patient %}
        <form method="post">
            {% csrf_token %}
        <button type="submit">{{bookmark_text}}</button>
        </form>
        {% endif %}
    </div>
</div>
   
{% endblock %}