{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<!--should check if the me thing is even necessary cause user wokrs fine on this page-->
<h1 style="top: 20px; font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(3px, 5vw, 50px); margin: 0; position: relative; text-align: center; left: calc(50% - 50vw + 85px);">{% trans "Welcome to CommuniCare" %}  {{me.name}}!</h1>
{% endblock %}

{% block content %}
<div class = "container">
    <div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
        <a href="{% url 'whatkindinfo' %}">
            <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
        </a>
        <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
        <a href="{% url 'home' %}">
            <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
        </a>
        <a href="{% url 'login' %}">
            <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
        </a>

    </div>

    <div class="box" style="align-items: left;padding: 20px;font-family: 'Nunito', sans-serif;font-size: 1rem;color: #F3EAE5;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(200px, 32vw, 325px); position: absolute;">
        <nav>
            <ul class="nav-bar" style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-start;">
                {% if user.is_patient %}
                    <div class="doctor-list">
                        <a href="{% url 'searchcriteria' %}">
                            <img id="adddoc" src="{% static 'adddoc.jpg'%}"class ="adddoc" alt="adddoc" style="margin-bottom:10px;">
                        </a>
                        {% for doctor in user.patientprofile.providers.all %}
                            <a href="{% url 'docinfo' doctor.pk %}">
                                <div class="doctor-box">
                                    <img id="docprof" src="{% static 'docprof.jpg'%}" class="docprof" alt="docprof">
                                    <div class="doctor-name">
                                        Dr. {{ doctor.name }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </ul>
        </nav>
    </div>
 </div>
{% endblock %}
