{% extends 'base.html' %}

{% block breadcrumb %}
<h1 style="top: 20px; font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(3px, 5vw, 50px); margin: 0; position: relative; text-align: center; left: calc(50% - 50vw + 85px);">Welcome to CommuniCare!</h1>

{% if error %}
<p>{{error}}</p>
{% endif %}
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    
    <div class="box" style=" background-color: #FFF9F6;height: calc(40vh);border-radius: 10px; padding-bottom: 70px;position: absolute; display: flex; flex-direction: column; top: clamp(180px, 30vw, 300px); left: 50%; transform: translateX(-50%); width: 50%; justify-content:center; align-items: center;">
        <h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(1rem, 2vw, 2rem); margin-bottom: 40px;">Login</h1>
        {% csrf_token %}
        {{form.as_p}}
        <label for = "{{field.id_for_label}}" class = "label-red"> {{field.label}}</label>
        <h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: 1rem; margin: 0; margin-bottom: 40px;">Don't have an account?</h1>
        <a href="{% url 'triage' %}" style="color: #9C2F2F;"> Create an account</a>
        <button type="submit">login</button>
    </div>
    
</form>
{% endblock %}