{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class = "container">
<div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
    <a href="{% url 'whatkindinfo' %}">
        <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
    </a>
    <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
    <a href="{% url 'home' %}">
        <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
    </a>
    <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
</div>

<div class="box" style="padding: 20px;font-family: 'Nunito', sans-serif;font-size: 1rem;color: #F3EAE5;text-align: center;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(150px, 25vw, 250px); position: absolute;">
    <nav>
        <ul class="nav-bar">
            <h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(2rem, 2vw, 1.5rem); margin: 0; margin-bottom: 40px;">Quebec's healthcare system</h1>
            
            <button id="asylumbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw;margin-top: 1vw;">
                <span id="arrow1" style="position: absolute; right: 20px;">&gt;</span> <!-- Arrow on the left -->
                Payment for asylum seekers
            </button>
            
            <div id= "asylumtext" style= "display: none; color: #710E09; width: 90%; box-sizing: border-box; text-align: left; "">
                <p> Coming Soon!</p>
            </div>
            
            <button id="pvpbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw;margin-top: 1vw;">
                <span id="arrow2" style="position: absolute; right: 20px;">&gt;</span> <!-- Arrow on the left -->
                Private versus Public
            </button>

            <div id= "pvptext" style= "display: none; color: #710E09;width: 90%; box-sizing: border-box; text-align: left; " ">
                <p style="margin-bottom:15px;"> Private healthcare refers to any health insurance policy purchased by a person or an employer from a private insurance company. If you do not have a private insurance plan for private health care, then you will have to pay for the services yourself. </p>
                <p style="margin-bottom:15px;">Public health care refers to services assured by the government; they are thus free if you have a valid Health Insurance Card issued by the government. </p>
                <p style="margin-bottom:15px;">To know more about what services are covered by a Health Insurance Card issued by the government, visit this website:
                    <a href="https://www.ramq.gouv.qc.ca/en/citizens/health-insurance/medical-services" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;"> click here </p>
                    </a>
                </p>
                <p style="margin-bottom:15px;">To sign up for a Health Insurance card, visit this website:
                    <a href="https://www.ramq.gouv.qc.ca/en/citizens/health-insurance/register" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;">click here</p>
                    </a>
                </p>
                <p style="margin-bottom:15px;"">For more information, visite this website:
                    <a href="https://www.cma.ca/our-focus/public-and-private-health-care/understanding-public-and-private-health-care" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;">click here</p>
                    </a>
                </p>
            </div>
            
            <button id="linksbutton" style="font-size: clamp(1rem, 2vw, 1.5rem); min-width: 40vw; max-width: 90%; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 1vw;margin-top: 1vw;">
                <span id="arrow3" style="position: absolute; right: 20px;">&gt;</span> <!-- Arrow on the left -->
                Links to government pages
            </button>

            <div id= "linkstext" style= "display: none; color: #710E09; width: 90%; box-sizing: border-box; text-align: left; "">
                <p style="margin-bottom:15px;">Information:
                    <a href="https://www.quebec.ca/sante/trouver-une-ressource/info-sante-811" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;">click here</p>
                    </a>
                </p>
                <p style="margin-bottom:15px;">Appointment reservation:
                    <a href="https://www.rvsq.gouv.qc.ca/accueil/index.html?ReturnUrl=%2Ffr%2Fpublic%2FPages%2Faccueil.aspx" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;">click here</p>
                    </a>
                </p>
                <p style="margin-bottom:15px;">Health booklet:
                    <a href="https://carnetsante.gouv.qc.ca/portail" style="color: #9C2F2F;">
                        <p style="margin-bottom:15px;">click here</p>
                    </a>
                </p>
            </div>
            
            
   
        </ul>
   </nav>
 </div>
<script> 
//asylum logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('asylumbutton').addEventListener('click', function() {
        var asylumText = document.getElementById('asylumtext');
        var arrow1 = document.getElementById('arrow1'); // Get the arrow span
        
        if (asylumText.style.display === "none" || asylumText.style.display === "") {
            asylumText.style.display = "block"; // Show the text
            arrow1.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            asylumText.style.display = "none"; // Hide the text
            arrow1.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var asylumButton = document.getElementById('asylumbutton');
        var asylumText = document.getElementById('asylumtext');
        if (!asylumButton.contains(event.target) && !asylumText.contains(event.target)) {
            asylumText.style.display = "none";
            document.getElementById('arrow1').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
//private versus public logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('pvpbutton').addEventListener('click', function() {
        var pvptext = document.getElementById('pvptext');
        var arrow2 = document.getElementById('arrow2'); // Get the arrow span
        
        if (pvptext.style.display === "none" || pvptext.style.display === "") {
            pvptext.style.display = "block"; // Show the text
            arrow2.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            pvptext.style.display = "none"; // Hide the text
            arrow2.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var pvpbutton = document.getElementById('pvpbutton');
        var pvptext = document.getElementById('pvptext');
        if (!pvpbutton.contains(event.target) && !pvptext.contains(event.target)) {
            pvptext.style.display = "none";
            document.getElementById('arrow2').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
//referrals logic
 document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('linksbutton').addEventListener('click', function() {
        var linkstext = document.getElementById('linkstext');
        var arrow3 = document.getElementById('arrow3'); // Get the arrow span
        
        if (linkstext.style.display === "none" || linkstext.style.display === "") {
            linkstext.style.display = "block"; // Show the text
            arrow3.style.transform = "rotate(90deg)"; // Rotate the arrow to point downward
        } else {
            linkstext.style.display = "none"; // Hide the text
            arrow3.style.transform = "rotate(0deg)"; // Reset the arrow back to right
        }
    });

    window.addEventListener('click', function(event) {
        var linksbutton = document.getElementById('linksbutton');
        var linkstext = document.getElementById('linkstext');
        if (!linksbutton.contains(event.target) && !linkstext.contains(event.target)) {
            linkstext.style.display = "none";
            document.getElementById('arrow3').style.transform = "rotate(0deg)"; // Reset the arrow to right
        }
    });
});
</script>

{% if user.is_patient %}
<a href="{% url 'searchcriteria' %}">search for a doctor</a>
{% endif %}

{% endblock %}
