{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<h1 style= "font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(5px, 7vw, 40px); margin: 0; text-align: center;">{% trans 'Search results' %}</h1>
{% endblock %}

{% block content %}
<div class = "container">
    <div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
        <a href="{% url 'whatkindinfo' %}">
            <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
        </a>
        <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
        <a href="{% url 'home' %}">
            <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
        </a>
        <a href="{% url 'login' %}">
            <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
        </a>
    
    </div>
</div>

<div class="box" style="padding: 20px;font-family: 'Nunito', sans-serif;font-size: 1rem;color: #F3EAE5;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(200px, 32vw, 325px); position: absolute;">
<div class="doctor-list">
    {% for doctor in doctors %}
    <div class="doctor-box">
        <a href="{% url 'docinfo' doctor.pk %}">{{doctor.name}}</a>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}