{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
<h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(5px, 7vw, 40px); margin: 0; text-align: center;">Finding a healthcare professional</h1>
{% endblock %}

{% block content %}
<form method="post">
    
    <div class="box" style=" background-color: #FFF9F6;height: calc(40vh);border-radius: 10px; padding-bottom: 70px;position: absolute; display: flex; flex-direction: column; top: clamp(180px, 30vw, 300px); left: 50%; transform: translateX(-50%); width: 50%; justify-content:center; align-items: center;overflow-y: auto;">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="label-red">{{ form.username.label }}</label>
            {{ form.distance }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="label-red">{{ form.password.label }}</label>
            {{ form.Specialty }}
        </div>
        <input type="submit">{% trans "Search" %}</input>
    </div>
       
</form>
{% endblock %}

