{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
<h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(5px, 7vw, 40px); margin: 0; text-align: center;">Finding a healthcare professional</h1>
{% endblock %}

{% block content %}
<div class = "container">
    <div class="box" style="top: clamp(180px, 30vw, 300px);left:0; bottom: 0; padding: 20px;width: 100px; position: absolute; border-right: 2px solid #710E09; background-color: #F3EAE5; ">
        <a href="{% url 'whatkindinfo' %}">
            <img id="info" src="{% static 'info.jpg'%}"class ="info" alt="info">
        </a>
        <img id="profile" src="{% static 'profile.jpg'%}"class ="profile" alt="profile">
        <a href="{% url 'home' %}">
            <img id="homebutton" src="{% static 'homebutton.jpg'%}"class ="homebutton" alt="homebutton">
        </a>
        <a href="{% url 'login' %}">
            <img id="signout" src="{% static 'signout.jpg'%}"class ="signout" alt="signout">
        </a>
    
    </div>
</div>

<form method="post">
    <div class="box" style="padding: 20px;font-family: 'Nunito', sans-serif;font-size: 1rem;color: #F3EAE5;border-radius: 15px;background-color: #FFF9F6;max-height: 500px;overflow-y: auto;position: fixed;bottom: 30px;left: 190px;right: 40px; top: clamp(200px, 32vw, 325px); position: absolute;">
        {% csrf_token %}

        {% for field in form %}
        <div class= "form-field">
            {% if field.name == "male" %}
                <div class="form-field mf-label">
                    <label for="mf-label" class="label-red">Sex of your healthcare provider</label>
                </div>
                {{ field }}
                <small class="help-text">{{ field.help_text }}</small>
            {% elif field.name == "female" %}
                {{ field }}
                <small class="help-text">{{ field.help_text }}</small>
            {% else %}
            <label for = "{{field.id_for_label}}" class = "label-red"> {{field.label}}</label>
                {{ field }}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}

       

        {{form.media}}
       
        <!-- <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="label-red">{{ form.password.label }}</label>
            {{ form.Specialty }}
        </div>
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="label-red">{{ form.username.label }}</label>
            {{ form.distance }}
        </div>--> 

        <input type="submit" class="submit-button" value="{% trans 'Search' %}"/>
    </div>
       
</form>
{% endblock %}

