{% extends 'base.html' %}
{% load widget_tweaks %}

{% block breadcrumb %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<h1 style="font-family: Nunito, sans-serif; color: #710E09; font-size: clamp(5px, 7vw, 40px); margin: 0;">Create Account</h1>
{% endblock %}

{% block content %}
<div class="box" style="top: clamp(180px, 30vw, 300px); position: absolute; bottom: 30px; left: 40px; right: 40px; 
padding: 20px; font-family: 'Nunito', sans-serif; font-size: 1rem; color: #710E09; 
text-align: center; border-radius: 15px; background-color: #FFF9F6; max-height: 300px; 
overflow-y: auto; height: auto;border-radius: 10px; ">
<div class = "form-group">
    <form method="post" class="mt-4">
        {% csrf_token %}

        {% for field in form %}
            <div class= "form-field">
                <label for = "{{field.id_for_label}}" class = "label-red"> {{field.label}}</label>
                    {{ field }}
                    <small>{{ field.help_text }}</small>
            </div>
            {% endfor %}

            <div class= "form-field">
                <label for="languages" class="label-red">Languages</label>
                <select class="language-select2" name="languages" multiple="multiple">
                    {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {{form.media}}
            <button type="submit"> Next </button>
    </form>
</div>
</div>
{% endblock %}